<%- include('layout/header'); %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-3 offset-md-2 offset-sm-1">
                <form action="/update/<%= user._id %>" method="POST" enctype="multipart/form-data">
                    <div class="card mt-5 shadow-lg">
                        <div class="card-header bg-success text-white"><h2>Edit User ( <%= user.name %> )</h2></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" name="name" value="<%= user.name %>" placeholder="Enter Name">
                            </div>
                            <div class="form-group mt-3">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="email" value="<%= user.email %>" placeholder="Enter Email">
                            </div>
                            <div class="form-group mt-3">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" name="phone" value="<%= user.phone %>" placeholder="Enter Phone">
                            </div>
                            <div class="form-group my-2">
                                <label>Upload</label>
                                <input type="file" class="form-control" name="image">
                                <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1">
                            </div>
                            <input type="hidden" name="old_image" value="<%= user.image %>">
                            <div class="d-grid gap-2 mt-3">
                                <input type="submit" name="submit" class="btn btn-success" value="Update User">
                              </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('layout/footer'); %>